<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="wrapper">
        <h3>Welcome, {{one_book.poster.first_name}}</h3>
        {% if request.session.user_id %}
        <p class='green'>Successfully registered (or logged in)</p>
        {% endif %}
        <a href="/logout"><button>Logout</button></a>
        <a href="/success">Go Back</a>
    </div>
    <div id='posts'>
        <h1>{{one_book.message}}</h1>
        <h3>Added by: {{one_book.poster.first_name}} {{one_book.poster.last_name}}</h3>
        <h4>Added on: {{one_book.created_at}}</h4>
        <h4>Last Updated on: {{one_book.updated_at}}</h4>
        {% if one_book.poster.id != request.session.user_id %}
        <h3>Title: {{one_book.message}}</h3>
        <h3>Description: {{one_book.description}}</h3>
        {% else %}
        <h3>Description: {{one_book.description}}</h3>
        <form action="/update/{{one_book.id}}" method="post">
            {% csrf_token %}
            <label for="title">Title</label>
            <input name="message" class="form-control w-50" placeholder="{{one_book.message}}">
            <label for="description">Description</label>
            <input name="description" class="form-control w-50" placeholder="{{one_book.description}}">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/delete_message/{{one_book.id}}" role="button" class="btn btn-danger">Delete</a>
        </form>
        {% endif %}
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Users Who Like This Book</h1>
        {% for post in one_book.users_who_like.all %}
            <h2>{{post.first_name}} {{post.last_name}}</h2>
        {% endfor %}
    
    <a href="/success">Go Back</a>

         
</body>
</html>

