<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>
<body>
    <form action="/result" method="POST">
        {% csrf_token %}
        <p> What is a key question?<br><textarea id="textboxid2" name="house" type="text" style="width: 400px;"></textarea></p>
        
        <p> What is some text that begins answering the question?<br><textarea id="textboxid" name="name" type="text" style="width: 400px;"></textarea></p>
        
        <button type="submit">Submit</button>
    {% for one_data in data reversed %}
    <h2>{{one_data.house}}</h2>    
    <h4>{{one_data.name}}</h4><br>
    {% endfor %}
    
</form>
</body>
</html>