<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results:</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>
<body>
    <span>{{title}}</span><br><br>
    <span>{{obvious}}</span>
    <span>{{why}}</span>
    <span>{{important}}</span><br><br>
    <span>{{info}}</span>
    <span>{{support1}}</span>
    <span>{{case1}}</span>
    <span>{{support2}}</span>
    <span>{{case2}}</span>
    <span>{{support3}}</span>
    <span>{{case3}}</span>
    <span>{{well}}</span>
    <span>{{restate}}</span>
    <span>{{summarize}}</span>
    <span>{{added}}</span>
    <span>{{slip}}</span>
</body>
</html>