<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id='wrap'>
        <a href="/logout">Logout</a>
        <h1>Welcome to {{user.first_name}}'s Wall!</h1>

        <div id='write'>
            <h2>Write a Post:</h2>
            <form action="/process_message" method="POST">
                {% csrf_token %}
                <input type="text" name='mess'>
                <input type="submit" value="Post">
            </form>
        </div>
