<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    
    <h1>Hello {{user.first_name}}. Make a Wish!</h1>
    <a href="/logout"><button>Logout</button></a>
    <a href="/success">Go Back</a>
    <form action="/post_title" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Make a Wish:</label>
            <input type="text" class="form-control" name="message">
            <label for="title">Description:</label>
            <input type="text" class="form-control" name="description">
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% for one_wish in wall_messages.users_who_grant.id.all %}
    {one_wish.id}
    {% endfor %}
</div>
    
</body>
</html>