<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Favorite Book</title>

    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>
{% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
<body>
    <div class="wrapper">
        <h1>Hello, {{user.first_name}}</h1>
        {% if request.session.user_id %}
        <p class='green'>Successfully registered (or logged in)</p>
        {% endif %}
        <a href="/logout"><button>Logout</button></a>
    </div>
  
    <form action="/stats">
        <input type="submit" value="Stats Page" />
    </form>
    <form action="/make_a_wish">
        <input type="submit" value="Make a Wish" />
    </form>
    
    <form action="/post_title" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Make a Wish:</label>
            <input type="text" class="form-control" name="message">
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% for one_wish in wall_messages.users_who_grant.id.all %}
    {one_wish.id}
    {% endfor %}
</div>
    
    
   
    
    <h1>{{user.first_name}}'s Wishes</h1>
    
    <table>
        <thead>
            <tr>
                <th>Wish</th>
                <th>Update</th>
                <th>Delete</th>
                <th>Grant Wish</th>
                <th>Time of Wish</th>
            </tr>
        </thead>
        <tbody>
            
            {% for one_wish in wall_messages %}
               {% if one_wish.granted_wish is False %} 
            <tr>
                <td>{{one_wish.message}}</td>
                <a href="/delete_message/{{one_wish.id}}" role="button" class="btn btn-danger">Delete</a>
               
                <td>  <form action="/update/{{one_wish.id}}">
                    <input type="submit" value="Edit Wish" />
                </form></td>
                <td>
                        
                        
                    
                    <a href="/delete_message/{{one_wish.id}}" role="button" class="btn btn-danger">Delete</a>

                </td>

                <td>
                    <a href="/like_message/{{one_wish.id}}" role="button" class="btn btn-danger">Granted</a>
                    
                </td>
                <td>{{one_wish.created_at}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            
        </tbody>
    </table>
    <h1>Granted Wishes</h1>
    {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li class='green' {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
    {% for wish in wall_messages %}
        {% if wish.granted_wish is True %}
        <div class='one_post'>
            
                <h3>{{wish.message}}</h3>
                <p>{{wish.poster.first_name}} {{wish.poster.last_name}}</p>
                <p>{{wish.updated_at}}</p>
                {% if current_user.id != wish.user_who_grants.id %}
                <a href="/like_message1/{{wish.id}}">Like</a>
                
                {% endif %}
                {% if wish.users_who_like.all %}
                <p>{{wish.users_who_like.count}}</p>
                {% endif %}

                
                
                
            
        
        </div>
        {% endif %}
        {% endfor %}
        
</body>

</html>

