<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Favorite Book</title>

    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>

<body>
    <div class="wrapper">
        <h1>Welcome, {{user.first_name}}</h1>
        {% if request.session.user_id %}
        <p class='green'>Successfully registered (or logged in)</p>
        {% endif %}
        <a href="/logout"><button>Logout</button></a>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        <h3>Add a Favorite Book</h3><br>
        <p>Title:</p>
        <form action="/post_title" method='POST'>
            {% csrf_token %}
            <input type="text" name="title">
            <p>Description</p>
            <form action="/post_description" method='POST'>
                {% csrf_token %}
                <input type="text" name="description">
                <button type="submit">Add</button>
            </form>
    </div>
    <div id='posts'>
        <h3>All Books</h3>
        {% for post in wall_messages %}
        <div class='one_post'>
            <p class='post'>{{post.message}}</p>
            <p class='poster'>(Added By: {{post.poster.first_name}} {{post.poster.last_name}})</p>
            <a href="/like_message/{{post.id}}">Like</a>
            <a href="/delete_message/{{post.id}}">Delete</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>